:root{
    --bs-green: #34A853;    
    --bs-yellow: #fbbc05;    
}
body{
    margin: 0;
    font-family: system-ui;
}
section.home{
    height: 100vh;
    width: 100%;
    background: url('../imgs/tiger.jpg');
    background-size: cover;
    background-position: 80% 75%;
    position: relative;
}
section.home .main{
    height: 100vh;
    width: 100%;
    backdrop-filter: brightness(0.4);
}
section.home .main header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.4em 1em;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
section.home .main header .brand{
    color: var(--bs-yellow);
    font-size: 2em;
    display: flex;
    align-items: center;
    font-weight: 900;
    text-decoration: none;
}
section.home .main header .brand img{
    height: 50px;
    margin-right: 10px;
}
section.home .main header .nav-list{
    display: flex;
    list-style: none;
    margin-left: auto;
}
section.home .main header .nav-list li a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    margin: 10px 20px;
    font-weight: 600;
}

.closer{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    border: none;
    background: none;
    display: none;
}
button.toggler{
    margin: 15px;
    background: transparent;
    border: none;
    font-size: 1.5em;
    margin-left: auto;
    display: none;
}
.drop{
    position: absolute;
    top: 0;
    left: 0;
    height: 0vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0 0;
    background: white;
    box-sizing: border-box;
    transition: 0.5s;
}
.drop h1{
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 2em;
    margin: 1em;
    font-family: sans-serif;
}
.drop li {
    padding: 10px;
    border-bottom: 2px solid var(--bs-green);
}
.drop li a{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    color: var(--bs-green);
}
.drop .closer{
    color: var(--bs-green);
}
.on{
    height: 100vh !important;
}
.on .closer{
    display: block;
}

@media (max-width: 880px){
    section.home .main header .brand{
        font-size: 1.5em;
    }
    section.home .main header .nav-list li a{
        margin: 10px;
    }
}
@media (max-width: 730px){
    section.home .main header{
        padding: 0 0;
    }
    section.home .main header .brand{
        margin: 10px;
    }
    section.home .main header .nav-list{
        position: absolute;
        height: 0vh;
        width: 100%;
        top: 0;
        margin-top: 0;
        background: white;
        box-sizing: border-box;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        transition: 0.5s;
    }
    section.home .main header .nav-list li{
        padding: 10px;
        border-bottom: 0.4px solid #757575;
    }
    section.home .main header .nav-list li a{
        color: black;
        text-transform: uppercase;
        padding: 10px;
        font-weight: 900;
    }
    button.toggler{
        display: block;
        color: white;
        top: 20px;
    }
}